* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
font-size: 12px;
}
body {
    scroll-behavior: smooth;
    position: relative;
    background-color: var(--secondary);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --primary: #fb8a0023;
    --secondary: #ffffff;
    --text: #282828;
    --text-hover: #e3e3e3e3;
    --border: #ececec;
    --default-text: 15px;
}

::-webkit-scrollbar {
    display: none;
}
.table-container {
    max-height: 90vh;
    width: 100%;
    overflow-y: auto;
    border: 1px solid var(--border);
    border-radius: 10px;
}

@media (min-width: 576px) {
    .table-container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .table-container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .table-container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .table-container {
        max-width: 1140px;
    }
}

/* Sticky header */
thead {
    background-color: var(--primary);
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--text);
    border-bottom: 1px solid var(--border);
}
table thead th {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
    border-bottom: 2px solid var(--border);
}

/* Tambahan opsional styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px 20px;
    border-bottom: 1px solid var(--border);
    text-align: left;
}
tr td:last-child {
    text-align: center;
    vertical-align: middle;
}
.row-checkbox {
    width: 18px;
    height: 18px;
    accent-color: #007bff; /* warna biru */
    cursor: pointer;
}
tbody tr:hover {
    background-color: var(--text-hover);
}
th button {
    width: 80px;
    height: 25px; 
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#selectAll.partial-select {
    background-color: #007bff; /* biru Bootstrap */
    border-color: #007bff;
}